.header {
    text-align: center;
    background-color: #0047AB;
    color: white;
    height: 100%;
    width: 100%;
    overflow: auto;
    border: 10px solid black;
}
.box {
  background-color: #0047AB;
  width: 20%;
  border: 3px solid black;
  text-align: center;
}
a:hover {
    color: cyan !important;
}
body {
  padding-top: 56px;
}