{% extends "bootstrap/base.html" %}

{% block content %}
{{ super() }}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <meta charset="UTF-8">
    <title>Resume Assist</title>
    <div class="header">
        <h1><a style="text-decoration: none; color: white" href="{{ url_for('home') }}">Resume Assist</a></h1>
    </div>
    <h2 style="text-align: center "> Generate your new resume today!</h2>
</head>
<body>
    <h3> Already have an account? Sign in here.</h3>
    <div class="box">
        <h1><a style="text-decoration: none; color: white" href="{{ url_for('login') }}">Login</a></h1>
    </div>
    <h3> Don't have an account yet? Sign up here.</h3>
    <div class="box">
    <h1><a style="text-decoration: none; color: white" href="{{ url_for('register') }}">Register</a></h1>
    </div>

    <div class ="container">
                  <h1>Resume
                    <form method="Post" action="/save" enctype="multipart/form-data">
                      <div>
                        <label for="inputFile">Upload</label>
                        <input type="file" name="inputFile">
                      </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                  </h1>
                </div>

</body>
{% endblock %}
