{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Sign In
{% endblock %}

{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <form class="form-signin" method="POST" action="">
                <h2 class="form-signin-heading">Sign In</h2>
                    {{ form.hidden_tag() }}
                    {{ wtf.form_field(form.username) }}
                    {{ wtf.form_field(form.password) }}
                    {{ wtf.form_field(form.remember) }}
                    <button class="buttonPress" type="submit">Log In</button>
              </form>
            <small class="text-muted ml-2">
                <a href="#">Forgot Password?</a>
            </small>
        </form>
    </div>
<div class="border-top pt-3">
    <small class="text-muted">
        Need an account? <a class="ml-2" href="{{ url_for('register') }}">Sign Up Now</a>
    </small>
</div>
{% endblock %}