<!-- THIS IS TO TEST ENCODE DECODE -->
{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<body>
  <div >
  <form action="/action_page.php">
    <div>
    <h2>School:</h2><br>
      {{form.hidden_tag()}}
      {{wtf.form_field(form.schoolName)}}
      {{wtf.form_field(form.schoolDegree)}}
      {{wtf.form_field(form.schoolGPA)}}
      {{wtf.form_field(form.schoolStartDate)}}
      {{wtf.form_field(form.schoolEndDate)}}
      <br><br><br>
      <!-- ROUTE THIS BUTTON HOWEVER YOU'D LIKE TO TEST THE DATABASE -->
      <button>SUBMIT</button>
    </div>
  </form>
  </div>
</body>