{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Upload - Resume Assist
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('home') }}">Resume Assist</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('dashboard') }}">Dashboard
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('questionnaire') }}">Create</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('upload') }}">Upload</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<!-- Page Features -->
 <div style="padding-top: 160px" class="container">
     <div style="text-align: center;">
   {% with messages = get_flashed_messages() %}
   {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
     <p style="text-align: center; color: red" class=error><strong>{{ message }}</strong></p>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <h1>Upload Resume
        <br><br>
      <form method="POST" action="/upload" enctype="multipart/form-data">
          <label for="inputFile"></label>
          <input style="width: 44%" type="file" name="inputFile">
          <br>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </h1>
     </div>
  </div>
<div style="padding-top: 244px">
    &nbsp;
</div>
<!-- /.container -->
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Resume Assist 2020</p>
    </div>
    <!-- /.container -->
  </footer>
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

{% endblock %}